@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap");

.navbar {
  font-family: "Outfit", sans-serif;
  margin-top: 20px;
  background-color: transparent;
  border: 4px solid white;
  border-radius: 50px;
  margin: 30px 5vw;
  /* background-color: blue; */
}

.logo {
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 50px;
}

.navbar button {
  color: white;
  border: none;
}

.navbar ul li {
  /* text-align: center; */
}

.navbar ul a {
  color: white;
  font-weight: 600;
  font-size: 35px;
  margin-left: 40px;
}

.navbar ul a:hover {
  color: #aeaeae;
}
